/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500");
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

@font-face {
  font-family: 'SegoeUI';
  src: url("fonts/SegoeUI.woff2") format("woff2"), url("fonts/SegoeUI.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 15px; }

body {
  font: 1rem Roboto, Arial, sans-serif; }

.is-disabled {
  overflow: hidden; }

button,
input,
textarea {
  background-color: transparent;
  border: none;
  outline: none; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0; }

ul {
  padding: 0;
  list-style: none; }

button {
  cursor: pointer;
  padding: 0; }

a {
  text-decoration: none;
  color: inherit; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 1200px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto; }

.text {
  line-height: 1.95;
  color: #565656; }
  .text--xs {
    font-size: .86rem; }
  .text--mid {
    font-size: 1.066rem; }
  .text--lg {
    font-size: 1.2rem; }
  .text--xl {
    font-size: 1.333rem; }

.heading {
  font-weight: 400; }
  .heading--l1 {
    font-size: 3.6rem; }
  .heading--l2 {
    font-size: 2.466rem;
    color: #13636a; }
    @media screen and (max-width: 768px) {
      .heading--l2 {
        font-size: 1.866rem; } }
  .heading--l3 {
    font-size: 1.288rem;
    text-transform: uppercase; }

.article-heading {
  font-weight: 400;
  text-transform: uppercase;
  color: #13636a; }
  .article-heading--l1 {
    font-size: 3.6rem; }
  .article-heading--l2 {
    font-size: 2rem; }
  .article-heading--l3 {
    font-size: 1.3rem; }
  .article-heading:not(:last-child) {
    margin-bottom: 30px; }
  .article-heading .line {
    position: absolute;
    left: 50%;
    top: calc(100% + 10px);
    width: 110%;
    margin-left: -55%;
    height: 1px;
    background-color: #13636a; }
    .article-heading .line:after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      border-top: 5px solid #13636a;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      margin-left: -7px; }

.with-line {
  position: relative;
  display: inline-block;
  margin-bottom: 25px; }

.button {
  display: inline-block; }
  .button--main {
    width: 277px;
    height: 56px;
    border-radius: 9px;
    line-height: 56px;
    font-size: 1.466rem;
    text-transform: uppercase;
    text-align: center;
    background-color: #f7a300;
    color: #000;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    .button--main:hover {
      background-color: #ffb72b; }
    @media screen and (max-width: 576px) {
      .button--main {
        width: 236px;
        height: 47px;
        line-height: 47px;
        font-size: 1.2rem; } }
  .button--shadow {
    -webkit-box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.28);
    box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.28); }

.field {
  padding: 13px 17px;
  border: 1px solid #aeaeae;
  font-size: 1rem;
  background-color: #fff;
  color: #000;
  -webkit-box-shadow: inset 1px 1px 0 0 #eee;
  box-shadow: inset 1px 1px 0 0 #eee; }
  .field::-webkit-input-placeholder {
    color: #000;
    font-family: Roboto, Arial, sans-serif; }
  .field:-ms-input-placeholder {
    color: #000;
    font-family: Roboto, Arial, sans-serif; }
  .field::-ms-input-placeholder {
    color: #000;
    font-family: Roboto, Arial, sans-serif; }
  .field::placeholder {
    color: #000;
    font-family: Roboto, Arial, sans-serif; }
  @media screen and (max-width: 576px) {
    .field {
      padding: 12px 14px;
      font-size: .846rem; } }
  .field--big {
    height: 130px;
    resize: none; }
    @media screen and (max-width: 576px) {
      .field--big {
        height: 110px; } }
  .field--error {
    border-color: #e65320; }

.link {
  text-decoration: underline;
  color: #13636a; }

.article-section {
  width: 100%; }
  .article-section:not(:last-of-type) {
    margin-bottom: 50px; }

.article-header {
  text-align: center; }
  .article-header--sm-mb {
    margin-bottom: 15px; }
  .article-header--md-mb {
    margin-bottom: 35px; }
  .article-header--lg-mb {
    margin-bottom: 50px; }

.list {
  margin: 15px 0; }
  .list li {
    position: relative;
    line-height: 1.5;
    padding-left: 20px; }
    .list li:before {
      content: '';
      position: absolute;
      left: 7px;
      top: 9px;
      width: 5px;
      height: 5px;
      background-color: #13636a; }
    .list li:not(:last-of-type) {
      margin-bottom: 10px; }

.general-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .general-nav .logo {
    font-family: SegoeUI;
    text-transform: uppercase;
    font-size: 2.333rem;
    font-weight: 700; }
    .general-nav .logo .roas {
      color: #fff; }
    .general-nav .logo .up {
      position: relative;
      color: #f7a300; }
      .general-nav .logo .up:before {
        content: '';
        position: absolute;
        left: 1px;
        top: 0;
        border-bottom: 10px solid #fff;
        border-left: 11px solid transparent;
        border-right: 11px solid transparent; }
    @media screen and (max-width: 992px) {
      .general-nav .logo {
        margin-left: 20px; } }
  .general-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .general-nav .general-nav__el:not(:last-of-type) {
    margin-right: 50px; }
    @media screen and (max-width: 1200px) {
      .general-nav .general-nav__el:not(:last-of-type) {
        margin-right: 30px; } }
  .general-nav .general-nav__link {
    position: relative;
    display: inline-block; }
    .general-nav .general-nav__link:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 100%;
      height: 1px;
      background-color: #fff;
      -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
      transform: translateY(10px);
      opacity: 0;
      visibility: hidden;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
    .general-nav .general-nav__link:hover:after {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
      visibility: visible; }
  .general-nav .mobile-toggle {
    display: none;
    position: relative;
    z-index: 99;
    margin-right: 20px; }
    .general-nav .mobile-toggle span {
      display: block;
      width: 30px;
      height: 3px;
      background-color: #fff;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      .general-nav .mobile-toggle span:first-of-type, .general-nav .mobile-toggle span:last-of-type {
        -webkit-transform-origin: left center;
        -ms-transform-origin: left center;
        transform-origin: left center; }
      .general-nav .mobile-toggle span:nth-of-type(2) {
        -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
        transform-origin: center center; }
      .general-nav .mobile-toggle span:not(:last-of-type) {
        margin-bottom: 6px; }
    .general-nav .mobile-toggle--active span {
      background-color: #13636a; }
      .general-nav .mobile-toggle--active span:first-of-type {
        -webkit-transform: translate(4px, -1.5px) rotate(45deg);
        -ms-transform: translate(4px, -1.5px) rotate(45deg);
        transform: translate(4px, -1.5px) rotate(45deg); }
      .general-nav .mobile-toggle--active span:nth-of-type(2) {
        -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        transform: translateX(-10px);
        opacity: 0; }
      .general-nav .mobile-toggle--active span:last-of-type {
        -webkit-transform: translate(4px, 1.5px) rotate(-45deg);
        -ms-transform: translate(4px, 1.5px) rotate(-45deg);
        transform: translate(4px, 1.5px) rotate(-45deg); }
    @media screen and (max-width: 992px) {
      .general-nav .mobile-toggle {
        display: block; } }

.section {
  padding-top: 50px; }
  .section__header {
    text-align: center; }
    @media screen and (max-width: 768px) {
      .section__header .text {
        font-size: 1rem; } }
    .section__header--noBotMg .heading.heading--l2 {
      margin-bottom: 0; }
    .section__header--smBotMg {
      margin-bottom: 32px; }
    .section__header--midBotMg {
      margin-bottom: 40px; }
    .section__header--bigBotMg {
      margin-bottom: 80px; }
    @media screen and (max-width: 768px) {
      .section__header--smBotMg, .section__header--midBotMg, .section__header--bigBotMg {
        margin-bottom: 40px; } }
    .section__header .heading {
      margin-bottom: 20px; }
      @media screen and (max-width: 576px) {
        .section__header .heading {
          margin-bottom: 25px; } }
  .section__note {
    margin-top: 72px;
    color: #13636a;
    text-align: center;
    line-height: 1.8; }
    @media screen and (max-width: 768px) {
      .section__note {
        font-size: 1.066rem;
        margin-top: 50px; } }

.section-header {
  padding: 25px 0;
  background-color: #232323;
  color: #fff; }

.section-hero {
  padding: 0;
  background-image: url(../img/bg1.jpg);
  background-size: cover;
  color: #fff; }

.section-hero__content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 680px;
  padding-top: 25px;
  padding-bottom: 65px;
  text-align: center; }
  @media screen and (max-width: 992px) {
    .section-hero__content .general-nav ul {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 290px;
      background-color: #f0f0f0;
      color: #13636a;
      -webkit-transform: translateY(-50%) scale(0.8);
      -ms-transform: translateY(-50%) scale(0.8);
      transform: translateY(-50%) scale(0.8);
      opacity: 0;
      visibility: hidden;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      .section-hero__content .general-nav ul .general-nav__el:not(:last-of-type) {
        margin-right: 0;
        margin-bottom: 20px; }
      .section-hero__content .general-nav ul .general-nav__link {
        font-size: 1.133rem; }
        .section-hero__content .general-nav ul .general-nav__link:before, .section-hero__content .general-nav ul .general-nav__link:after {
          position: absolute;
          top: 0;
          font-weight: 700;
          opacity: 0;
          visibility: hidden;
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s; }
        .section-hero__content .general-nav ul .general-nav__link:before {
          content: '[';
          right: calc(100% + 20px); }
        .section-hero__content .general-nav ul .general-nav__link:after {
          content: ']';
          left: calc(100% + 20px);
          bottom: auto;
          width: 4px;
          height: auto;
          background-color: transparent;
          -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
          transform: translateY(0); }
        .section-hero__content .general-nav ul .general-nav__link:hover:before, .section-hero__content .general-nav ul .general-nav__link:hover:after {
          opacity: 1;
          visibility: visible; }
        .section-hero__content .general-nav ul .general-nav__link:hover:before {
          right: calc(100% + 10px); }
        .section-hero__content .general-nav ul .general-nav__link:hover:after {
          left: calc(100% + 10px); } }
  .section-hero__content .general-nav .is-active {
    -webkit-transform: translateY(0) scale(1);
    -ms-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
    opacity: 1;
    visibility: visible; }
  .section-hero__content .section-hero__note {
    font-style: italic;
    color: #fff; }

.section-hero__content-inner {
  margin-top: 50px; }
  .section-hero__content-inner .heading--l1 {
    margin-bottom: 30px; }
    @media screen and (max-width: 992px) {
      .section-hero__content-inner .heading--l1 {
        font-size: 3.06rem; } }
    @media screen and (max-width: 768px) {
      .section-hero__content-inner .heading--l1 {
        font-size: 2.8rem; } }
  .section-hero__content-inner .hero-after-heading {
    margin-bottom: 70px;
    font-size: 1.666rem;
    color: #fff; }
    @media screen and (max-width: 992px) {
      .section-hero__content-inner .hero-after-heading {
        font-size: 1.4rem; } }
    @media screen and (max-width: 768px) {
      .section-hero__content-inner .hero-after-heading {
        font-size: 1.2rem; } }

.section-about {
  padding-bottom: 89px; }
  @media screen and (max-width: 768px) {
    .section-about {
      padding-bottom: 75px; } }
  .section-about__el {
    padding: 0 15px;
    width: 33.33333%;
    -ms-flex-item-align: start;
    align-self: flex-start;
    text-align: center;
    margin-top: -20px; }
    @media screen and (max-width: 768px) {
      .section-about__el {
        padding: 0 15px;
        width: 100%;
        margin-top: 0; }
        .section-about__el:not(:last-of-type) {
          margin-bottom: 45px; } }
    .section-about__el-icon {
      height: 150px;
      line-height: 150px;
      margin: 0;
      margin-bottom: 20px; }
      @media screen and (max-width: 768px) {
        .section-about__el-icon {
          height: auto;
          line-height: normal; } }
      .section-about__el-icon img {
        display: inline-block;
        vertical-align: middle; }
    .section-about__el .icon-first {
      width: 170px; }
      @media screen and (max-width: 992px) {
        .section-about__el .icon-first {
          width: 163px; } }
    .section-about__el .icon-second {
      width: 180px; }
      @media screen and (max-width: 992px) {
        .section-about__el .icon-second {
          width: 175px; } }
    .section-about__el .icon-third {
      width: 130px;
      margin-top: -15px; }
      @media screen and (max-width: 992px) {
        .section-about__el .icon-third {
          width: 115px; } }
    .section-about__el .heading--l3 {
      color: #037e75;
      margin-bottom: 30px; }
      @media screen and (max-width: 768px) {
        .section-about__el .heading--l3 {
          margin-bottom: 15px; }
          .section-about__el .heading--l3 br {
            display: none; } }
    .section-about__el .text {
      padding-left: 44px;
      padding-right: 44px; }
      @media screen and (max-width: 992px) {
        .section-about__el .text {
          padding-left: 20px;
          padding-right: 20px; } }

.section-more {
  background-color: #1e344c;
  color: #fff; }
  .section-more .row {
    height: 95px;
    position: relative;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    @media screen and (max-width: 768px) {
      .section-more .row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: auto;
        text-align: center;
        padding-bottom: 25px; } }
    .section-more .row .alogo {
      position: absolute;
      margin-left: 40px; }
      @media screen and (max-width: 1200px) {
        .section-more .row .alogo {
          margin-left: 20px; } }
      @media screen and (max-width: 992px) {
        .section-more .row .alogo {
          height: 102px; } }
      @media screen and (max-width: 768px) {
        .section-more .row .alogo {
          position: static;
          margin-left: 0;
          margin-top: -35px;
          margin-bottom: 10px; } }
    .section-more .row .section-more__desc {
      padding-left: 190px;
      margin-right: auto; }
      @media screen and (max-width: 1200px) {
        .section-more .row .section-more__desc {
          padding-left: 150px; } }
      @media screen and (max-width: 992px) {
        .section-more .row .section-more__desc {
          position: relative;
          left: 150px;
          width: 50%;
          padding-left: 0; } }
      @media screen and (max-width: 768px) {
        .section-more .row .section-more__desc {
          position: static;
          width: 100%;
          margin-bottom: 10px; } }
      .section-more .row .section-more__desc .text {
        color: #fff;
        font-weight: 300; }
        @media screen and (max-width: 992px) {
          .section-more .row .section-more__desc .text {
            line-height: 1.5;
            font-size: .866rem; } }
        @media screen and (max-width: 768px) {
          .section-more .row .section-more__desc .text {
            display: none; } }
    .section-more .row .section-more__heading {
      font-size: 1.4rem;
      font-weight: 500;
      margin-bottom: 5px; }
      @media screen and (max-width: 992px) {
        .section-more .row .section-more__heading {
          font-size: 1.2rem; } }
      @media screen and (max-width: 768px) {
        .section-more .row .section-more__heading {
          font-size: 1.333rem;
          line-height: 1.5; } }
    .section-more .row .section-more__link {
      width: 210px;
      height: 52px;
      line-height: 46px;
      margin-right: 40px;
      border: 3px solid #fff;
      border-radius: 9px;
      font-size: 1.333rem;
      text-transform: uppercase;
      text-align: center;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      .section-more .row .section-more__link:hover {
        background-color: #fff;
        color: #1e344c; }
      @media screen and (max-width: 1200px) {
        .section-more .row .section-more__link {
          width: 200px;
          margin-right: 0; } }
      @media screen and (max-width: 992px) {
        .section-more .row .section-more__link {
          width: 170px;
          height: 42px;
          line-height: 36px;
          font-size: 1.1rem; } }

.section-benefits {
  padding-bottom: 80px;
  background-color: #e5e5e5; }
  .section-benefits .row {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .section-benefits__half {
    padding: 0 15px;
    width: 50%; }
    @media screen and (max-width: 768px) {
      .section-benefits__half {
        padding: 0 15px;
        width: 100%; }
        .section-benefits__half:last-of-type .section-benefits__el:last-of-type {
          margin-bottom: 0; } }
  .section-benefits__el {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 90px; }
    @media screen and (max-width: 1200px) {
      .section-benefits__el {
        padding-left: 50px; } }
    @media screen and (max-width: 992px) {
      .section-benefits__el {
        padding-left: 0; } }
    @media screen and (max-width: 768px) {
      .section-benefits__el {
        width: 80%;
        margin: 0 auto; }
        .section-benefits__el:nth-of-type(n) {
          margin-bottom: 70px; } }
    @media screen and (max-width: 576px) {
      .section-benefits__el {
        width: 100%; } }
    .section-benefits__el:not(:last-of-type) {
      margin-bottom: 70px; }
    .section-benefits__el .icon-first {
      height: 75px; }
      @media screen and (max-width: 992px) {
        .section-benefits__el .icon-first {
          height: 65px; } }
    .section-benefits__el .icon-second {
      height: 85px; }
      @media screen and (max-width: 992px) {
        .section-benefits__el .icon-second {
          height: 75px; } }
    .section-benefits__el .icon-third {
      height: 75px; }
      @media screen and (max-width: 992px) {
        .section-benefits__el .icon-third {
          height: 65px; } }
    .section-benefits__el .icon-fourth {
      height: 80px; }
      @media screen and (max-width: 992px) {
        .section-benefits__el .icon-fourth {
          height: 65px; } }
    @media screen and (max-width: 576px) {
      .section-benefits__el .icon-first,
      .section-benefits__el .icon-second,
      .section-benefits__el .icon-third,
      .section-benefits__el .icon-fourth {
        width: 70px;
        -o-object-fit: contain;
        object-fit: contain; } }
    .section-benefits__el .text {
      margin-left: 25px; }
      @media screen and (max-width: 992px) {
        .section-benefits__el .text br {
          display: none; } }

.section-showcase {
  text-align: center; }
  .section-showcase .row:nth-of-type(2) .line {
    height: 1px;
    width: 100%;
    margin-top: 30px;
    background-color: #cdcdcd; }

.gallery-outer {
  padding-top: 35px; }
  @media screen and (max-width: 768px) {
    .gallery-outer:nth-of-type(2) {
      padding-top: 20px; } }
  .gallery-outer:last-of-type {
    padding-bottom: 32px; }
  @media screen and (max-width: 768px) {
    .gallery-outer .text {
      font-size: 1rem; }
      .gallery-outer .text br {
        display: none; } }
  .gallery-outer .show {
    font-size: 1.333rem;
    text-transform: uppercase;
    color: #13636a;
    border-bottom: 1px solid #13636a; }
    @media screen and (max-width: 768px) {
      .gallery-outer .show {
        font-size: 1.1rem; } }
  .gallery-outer .is-disabled {
    color: rgba(19, 99, 106, 0.3);
    border-color: rgba(19, 99, 106, 0.3); }

.gallery {
  padding: 0 15px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 25px 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .gallery__el {
    padding: 0 15px;
    width: 33.33333%;
    margin-bottom: 25px; }
    @media screen and (max-width: 768px) {
      .gallery__el--vid {
        height: 200px; } }
    .gallery__el:last-of-type, .gallery__el:nth-last-of-type(2), .gallery__el:nth-last-of-type(3) {
      margin-bottom: 0; }
    .gallery__el iframe {
      width: 100%;
      min-height: 200px; }
      @media screen and (max-width: 1200px) {
        .gallery__el iframe {
          min-height: 100%; } }
      @media screen and (max-width: 768px) {
        .gallery__el iframe {
          height: 100%; } }
    @media screen and (max-width: 768px) {
      .gallery__el {
        padding: 0 15px;
        width: 66.66667%;
        margin-left: 16.66667%; }
        .gallery__el:not(:last-of-type) {
          margin-bottom: 20px; } }
    @media screen and (max-width: 576px) {
      .gallery__el {
        padding: 0 15px;
        width: 100%;
        margin-left: 0%; } }
    .gallery__el img {
      width: 100%; }

.section-workprocess {
  background-image: url(../img/bg2.jpg);
  background-size: cover;
  padding-bottom: 43px; }
  .section-workprocess .section__header .heading,
  .section-workprocess .section__header .text {
    color: #fff; }
  .section-workprocess__outer {
    padding: 20px 0 37px;
    background-color: rgba(35, 35, 35, 0.2); }
    .section-workprocess__outer .section-workprocess__pre {
      color: #fff;
      font-weight: 500;
      margin-bottom: 22px; }
      @media screen and (max-width: 768px) {
        .section-workprocess__outer .section-workprocess__pre {
          font-size: 1.133rem;
          text-align: center; } }
    @media screen and (max-width: 768px) {
      .section-workprocess__outer .row:nth-of-type(2) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
  .section-workprocess .section-workprocess__el {
    -ms-flex-preferred-size: 315px;
    flex-basis: 315px;
    min-height: 315px;
    padding: 25px 23px 0;
    text-align: center;
    background-color: #fff;
    -webkit-box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.17);
    box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.17); }
    @media screen and (max-width: 1200px) {
      .section-workprocess .section-workprocess__el {
        -ms-flex-preferred-size: 300px;
        flex-basis: 300px; } }
    @media screen and (max-width: 992px) {
      .section-workprocess .section-workprocess__el {
        -ms-flex-preferred-size: 220px;
        flex-basis: 220px;
        padding: 25px 10px 0; } }
    @media screen and (max-width: 768px) {
      .section-workprocess .section-workprocess__el {
        position: relative;
        width: 400px;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        min-height: auto;
        padding-bottom: 40px;
        padding-left: 130px;
        text-align: left; } }
    @media screen and (max-width: 576px) {
      .section-workprocess .section-workprocess__el {
        width: 100%; } }
    .section-workprocess .section-workprocess__el:not(:last-of-type) {
      margin-right: 30px; }
      @media screen and (max-width: 992px) {
        .section-workprocess .section-workprocess__el:not(:last-of-type) {
          margin-right: 15px; } }
      @media screen and (max-width: 768px) {
        .section-workprocess .section-workprocess__el:not(:last-of-type) {
          margin-right: 0;
          margin-bottom: 15px; } }
    .section-workprocess .section-workprocess__el h3 {
      font-size: 1.533rem;
      margin-bottom: 25px; }
      @media screen and (max-width: 768px) {
        .section-workprocess .section-workprocess__el h3 {
          margin-bottom: 15px;
          font-size: 1.2rem; } }
    .section-workprocess .section-workprocess__el img {
      height: 98px;
      margin-bottom: 20px; }
      @media screen and (max-width: 768px) {
        .section-workprocess .section-workprocess__el img {
          position: absolute;
          height: 80px;
          top: 25px;
          margin: 0; } }
    @media screen and (max-width: 768px) {
      .section-workprocess .section-workprocess__el .icon-first {
        left: 28px; } }
    @media screen and (max-width: 768px) {
      .section-workprocess .section-workprocess__el .icon-second {
        left: 30px; } }
    @media screen and (max-width: 768px) {
      .section-workprocess .section-workprocess__el .icon-third {
        left: 40px; } }
    .section-workprocess .section-workprocess__el .text {
      line-height: 1.7; }
      @media screen and (max-width: 992px) {
        .section-workprocess .section-workprocess__el .text {
          font-size: .933rem; } }

.section-partners {
  padding-bottom: 40px; }
  .section
.section-partners__el {
    padding: 0 15px;
    width: 25%;
    text-align: center; }
    .section
.section-partners__el img {
      max-width: 100%;
      -o-object-fit: contain;
      object-fit: contain; }
    @media screen and (max-width: 768px) {
      .section
.section-partners__el {
        padding: 0 15px;
        width: 50%; }
        .section
.section-partners__el:first-of-type, .section
.section-partners__el:last-of-type {
          -webkit-box-ordinal-group: 0;
          -ms-flex-order: -1;
          order: -1;
          margin-bottom: 50px; }
        .section
.section-partners__el:nth-of-type(2) {
          -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
          order: 1; } }
    @media screen and (max-width: 576px) {
      .section
.section-partners__el {
        padding: 0 15px;
        width: 100%; }
        .section
.section-partners__el:nth-of-type(n) {
          -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
          order: 1; }
        .section
.section-partners__el:not(:last-of-type) {
          margin-bottom: 40px; }
        .section
.section-partners__el:first-of-type img, .section
.section-partners__el:last-of-type img {
          height: 45px; }
        .section
.section-partners__el:nth-of-type(2) img, .section
.section-partners__el:nth-of-type(3) img {
          height: 100px; }
        .section
.section-partners__el:last-of-type {
          margin-bottom: 0; } }

.section-contact {
  padding-bottom: 77px;
  background-color: #e5e5e5; }
  .section-contact form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 710px;
    width: 100%; }
    .section-contact form .field--normal {
      width: calc(50% - 5px); }
      .section-contact form .field--normal:first-of-type {
        margin-right: 10px; }
      @media screen and (max-width: 768px) {
        .section-contact form .field--normal {
          width: 100%;
          margin-bottom: 13px; }
          .section-contact form .field--normal:first-of-type {
            margin-right: 0; } }
    .section-contact form .field--big {
      width: 100%;
      margin-top: 20px;
      margin-bottom: 33px; }
      @media screen and (max-width: 768px) {
        .section-contact form .field--big {
          margin-top: 0; } }
    .section-contact form .button {
      margin: 0 auto; }

.general-footer {
  padding: 13px 0 20px;
  background-color: #212121;
  color: #fff; }
  .general-footer .general-nav {
    margin-bottom: 15px; }
    @media screen and (max-width: 992px) {
      .general-footer .general-nav {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        margin-bottom: 40px; } }
    .general-footer .general-nav ul {
      margin-top: -5px; }
      @media screen and (max-width: 992px) {
        .general-footer .general-nav ul {
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          margin-top: 10px;
          padding-left: 50px; } }
      @media screen and (max-width: 576px) {
        .general-footer .general-nav ul {
          padding-left: 0;
          display: block; } }
    @media screen and (max-width: 992px) {
      .general-footer .general-nav .general-nav__el {
        width: 50%;
        margin-right: 0;
        margin-bottom: 25px; }
        .general-footer .general-nav .general-nav__el:last-of-type, .general-footer .general-nav .general-nav__el:nth-last-of-type(2) {
          margin-bottom: 0; } }
    @media screen and (max-width: 576px) {
      .general-footer .general-nav .general-nav__el {
        width: 100%; }
        .general-footer .general-nav .general-nav__el:not(:last-of-type) {
          margin-bottom: 20px; } }
  .general-footer .copyright {
    color: #fff;
    text-align: center; }
    .general-footer .copyright br {
      display: none; }
      @media screen and (max-width: 576px) {
        .general-footer .copyright br {
          display: block; } }
    .general-footer .copyright a {
      text-decoration: underline; }
