@import url("http://fonts.googleapis.com/css?family=Roboto:300,400&subset=latin,cyrillic-ext");
@import url("http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700&subset=latin,cyrillic-ext");
@import url("http://allfont.net/allfont.css?fonts=montserrat-light");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300");
@font-face {
  font-family: 'SegoeUI';
  src: url('fonts/SegoeUI.eot');
  src: url('fonts/SegoeUI.woff2') format('woff2'),
       url('fonts/SegoeUI.woff') format('woff'),
       url('fonts/SegoeUI.ttf') format('truetype'),
       url('fonts/SegoeUI.svg#SegoeUI') format('svg'),
       url('fonts/SegoeUI.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}




* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background: transparent;
  text-rendering: optimizeLegibility;
}
body {
  font-size: 16px;
  line-height: 21px;
  color: #333;
  font-family: 'Arial';
  font-weight: normal;
  text-align: left;
  text-decoration: none;
}
p,
span,
strong,
b,
i,
em,
big,
small {
  font: inherit;
  color: inherit;
}
strong,
b {
  font-weight: bold;
}
i,
em {
  font-style: italic;
}
big {
  font-size: 130%;
}
small {
  font-size: 0.85em;
  line-height: 1em;
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: underline;
  font: inherit;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
td {
  vertical-align: top;
}
body,
input,
textarea {
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
body {
  font-family: "RobotoDraft", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.42857143;
  font-size: 14px;
}
body.overflow-hidden {
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "RobotoDraft", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.3em;
  color: inherit;
  margin-top: 1em;
  margin-bottom: 1em;
}
h1 {
  font-size: 24px;
  line-height: 32px;
}
h2 {
  font-size: 20px;
  line-height: 28px;
}
h3 {
  font-size: 18px;
  line-height: 26px;
}
h4 {
  font-size: 16px;
  line-height: 22px;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
a,
a:hover,
a:focus {
  text-decoration: none;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
p {
  margin: 0 0 14px;
}
.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.flex-wrap-line {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}
.wrapper {
  overflow: hidden;
}
.block-wrapper {
  margin: 0 auto;
}
.el-title {
  text-align: center;
  margin: 0 auto 34px;
  padding-top: 62px;
}
.el-title-text {
  font-family: 'montserrat-light', Arial;
  font-size: 37px;
  line-height: 1;
  color: #13636a;
  font-weight: 300;
}
.el-title-border {
  width: 90px;
  height: 3px;
  background-color: #e65320;
  margin: 34px auto 0;
}
@media screen and (max-width: 1169px) {
  .el-title {
	padding-top: 54px;
	margin-bottom: 32px;
  }
  .el-title-text {
	font-size: 35px;
  }
  .el-title-border {
	width: 60px;
	height: 2px;
	margin-top: 26px;
  }
}
@media screen and (max-width: 769px) {
  .el-title {
	padding-top: 48px;
  margin-bottom: 14px;
  }
  .el-title-text {
    font-size: 27px;
  }
}
.block-first {
  background-image: url('../img/bg1.jpg');
  background-size: cover;
  width: 100%;
  color: #ffffff;
  text-align: center;
  padding-bottom: 63px;
  position: relative;
}
.block-first-header {
  overflow: hidden;
  padding-top: 20px;
}
.block-first-header-logo {
  float: left;
  height: 44px;
  font-family: 'SegoeUI', sans-serif;
  font-weight: 600;
  font-size: 35px;
  margin-left: 30px;
  margin-top: 5px;
}
.block-first-header-logo-white {
  color: #ffffff;
  display: inline-block;
}
.block-first-header-logo-yellow {
  color: #f7a300;
  position: relative;
  display: inline-block;
}
.block-first-header-logo-tri {
  background-image: url(../img/tri.svg);
  width: 22px;
  height: 11px;
  position: absolute;
  left: 1px;
  top: 0px;
  background-size: 100%;
}
.block-first-header-logo-img {
  vertical-align: middle;
  width: 100%;
}
.block-first-header-button {
  display: none;
  width: 29px;
  height: 19px;
  margin-top: 23px;
  float: right;
  background-image: url(../img/button.png);
  cursor: pointer;
}
.block-first-header-button:hover,
.block-first-header-button:active {
  background-color: #2d3f44;
}
.block-first-header-menu {
  float: right;
}
.block-first-header-menu-item {
  display: inline-block;
  height: 60px;
  line-height: 60px;
  padding: 0 15px;
}
.block-first-header-menu-item-link {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 1;
  color: inherit;
  font-weight: 300;
  text-decoration: none;
  color: #ffffff;
  vertical-align: middle;
}
.block-first-header-menu-item-link:hover,
.block-first-header-menu-item-link:active {
  border-bottom: white 1px solid;
}
.block-first-title {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 54px;
  line-height: 1;
  color: inherit;
  font-weight: 400;
  margin-top: 157px;
}
.block-first-desc {
  font-family: 'Roboto', Arial;
  font-size: 25px;
  line-height: 1;
  color: inherit;
  font-weight: 400;
  margin-top: 29px;
}
.block-first-button {
  margin-top: 87px;
}
.block-first-button a {
  color: #000000;
  font-family: 'Roboto', Arial;
  font-weight: 400;
  background-color: #f7a300;
  box-shadow: 1px 4px 0px 0px rgba(0, 0, 0, 0.28); 
  border-radius: 10px;
  font-size: 22px;
  padding: 14px 69px;
}
.block-first-button a:hover {
  background-color: #fab838;
}
.block-first-hint {
  font-family: 'Roboto', Arial;
  font-size: 16px;
  line-height: 1;
  color: inherit;
  font-weight: 300;
  font-style: italic;
  margin-top: 127px;
  position: relative;
}
@media screen and (max-width: 1169px) {
  /*
  .block-first .block-wrapper {
	width: auto;
  }
  .block-first-header-menu-item-link {
	font-size: 14px;
  }
  .block-first-title {
  font-size: 44px;
  margin-top: 180px;
  }
  .block-first-desc {
	margin-top: 24px;
  }
  .block-first-header-menu {
    margin-right: 19px;
  }
  .block-first-header-menu-item {
    padding: 0 7px;
  }
  .block-first-button {
    margin-top: 80px;
  }
  */
/*}*/
/*@media screen and (max-width: 769px) {*/
  .block-first {
	padding-bottom: 33px;
  }
  .block-first .block-wrapper {
	padding: 0;
	width: 100%;
  }
  .block-first-header {
	padding-top: 10px;
  }
  .block-first-header-logo {
    margin-right: 0;
    margin-left: 0;
    margin-top: 11px;
    font-size: 29px;
  }
  .block-first-header-logo-tri {
    width: 18px;
    height: 9px;
    left: 1px;
    top: 0px;
  }
  .block-first-header-button {
	display: block;
  margin-top: 10px;
  margin-right: 20px;
  }
  .block-first-header-logo{
  margin-top: 10px;
  margin-left: 20px;
  }
  .block-first-header-menu {
	overflow: visible;
	position: absolute;
  top: 0;
	display: none;
  width: 100%;
  margin-right: 0;
  padding: 11px 0;
  background-color: #f0f0f0;
  }
  .block-first-header-menu-item {
  height: 45px;
  line-height: 45px;
	padding: 0;
	display: block;
	text-align: left;
	margin-left: -8px;
  text-align: center;
  }
  .block-first-header-menu-item-link {
  color: #005e6d;
  font-weight: 600;
  }
  .block-first-header-menu-item:last-child {
	border-bottom: none;
  }
  .block-first-header-menu-item:hover,
  .block-first-header-menu-item:active {
  }
  .block-first-header-menu-item-link:hover,
  .block-first-header-menu-item-link:active {
    border-bottom: #005e6d 1px solid;
  }
  .block-first-title {
  font-size: 42px;
  line-height: 1.3;
  margin-top: 106px;
  }
  .block-first-desc {
	font-family: 'Roboto', Arial;
	font-size: 18px;
	line-height: 1.7;
	color: inherit;
	font-weight: 300;
	margin-top: 15px;
  }
  .block-first-wrap {
	margin-top: 30px;
  }
  .block-first-wrap-iphone,
  .block-first-wrap-form {
	display: none;
  }
  .block-first-wrap-example,
  .block-first-wrap-order {
	display: block;
  }
  .block-first-hint {
  margin-top: 71px;
  font-size: 14px;
  line-height: 1.8;
  }
  .block-first-button {
    margin-top: 76px;
  }
  .block-first-button a {
  font-size: 20px;
  padding: 11px 55px;
  }
}
@media screen and (max-width: 769px) {
  .block-first-header-button {
  margin-top: 10px;
  margin-right: 0px;
  }
  .block-first-header-logo{
  margin-top: 0px;
  margin-left: 0px;
  }
}
.block-third {
  overflow: hidden;
  background-color: #e5e5e5;
  text-align: center;
  padding-bottom: 76px;
}
.block-third-whatyouget-title {
  margin-bottom: 34px;
}
.block-third-whatyouget-col {
  float: left;
  width: 50%;
  margin-bottom: 41px;
}
.block-third-whatyouget-item {
  overflow: hidden;
  margin-bottom: 21px;
  height: 138px;
  display: flex;
  align-items: center;
}
.block-third-whatyouget-item-pic {
  float: left;
  width: 148px;
  margin-right: 17px;
  margin-left: 52px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.block-third-whatyouget-item-pic-img {
  width: 100%;
  vertical-align: middle;
}
.block-third-img1{
  width: 107px;
}
.block-third-img2{
  width: 103px;
}
.block-third-img3{
  width: 91px;
}
.block-third-img4{
  width: 88px;
}
.block-third-whatyouget-item-desc {
  text-align: left;
  overflow: hidden;
  width: 335px;
}
.block-third-whatyouget-item-desc-text {
  font-family: 'Roboto', Arial;
  font-size: 16px;
  line-height: 2;
  color: #353535;
  font-weight: 400;
}
.block-third-whatyouget-hint {
  font-size: 20px; 
  color: #3c6966;
}
.block-third-whatyouget-hint1 {
  color: #353535; 
  font-size: 18px;
  margin-bottom: 50px;
}
@media screen and (max-width: 1169px) {
  .block-third {
	padding-bottom: 52px;
  }
  .block-third-whatyouget-col {
  float: none;
  width: 100%;
  margin-bottom: 0;
  }
  .block-third-whatyouget-item {
  margin-bottom: 0;
  height: 124px
  }
  .block-third-whatyouget-item-desc {
    width: 60%;
  }
  .block-third-whatyouget-item-desc-header {
	margin-bottom: 14px;
	font-size: 18px;
  }
  .block-third-whatyouget-hint {
    font-size: 19px;
    margin-top: 28px;
  }
  .block-third-whatyouget-item-img {
    width: 96px;
  }
  .block-third-img1{
    width: 96px;
  }
  .block-third-img2{
    width: 91px;
  }
  .block-third-img3{
    width: 81px;
  }
  .block-third-img4{
    width: 79px;
  }
}
@media screen and (max-width: 769px) {
  .block-third {
    padding-bottom: 27px;
  }
  .block-third-whatyouget-item {
	height: auto;
  align-items: center;
  margin-bottom: 27px;
  }
  .block-third-whatyouget-item-pic {
	width: 70px;
  margin-left: 9px;
  margin-right: 26px;
  }
  .block-third-img1{
    width: 76px;
  }
  .block-third-img2{
    width: 72px;
  }
  .block-third-img3{
    width: 66px;
  }
  .block-third-img4{
    width: 63px;
  }
  .block-third-whatyouget-item-desc {
	width: auto;
  }
  .block-third-whatyouget-item-desc-header {
	font-size: 16px;
	margin-bottom: 12px;
  }
  .block-third-whatyouget-hint {
    font-size: 17px;
    margin-top: 45px;
  }
  .block-third-whatyouget-hint1 {
    font-size: 14px;
    margin-bottom: 27px;
  }
  .block-third-whatyouget-title {
    margin-bottom: 15px;
  }
  .block-third-whatyouget-item-desc-text {
    font-size: 13px;
  }
}
.block-fourth {
  background-image: url('../img/bg2.jpg');
  background-size: cover;
  color: #ffffff;
  overflow: hidden;
  padding-bottom: 55px;
}
.block-fourth-title {
  margin: 0 auto 28px;
}
.block-fourth-title-text {
  color: #ffffff;
}
.block-fourth-title-border {
  background-color: #ffffff;
}
.block-fourth-desc {
  text-align: center;
  font-family: 'Roboto', Arial;
  font-size: 18px;
  line-height: 1.7;
  color: inherit;
  font-weight: 300;
  margin-bottom: 36px;
}
.block-fourth-bg {
  background-image: url('../img/bg3.png');
}
.block-fourth-list {
  overflow: hidden;
  padding: 26px 0;
  width: 85%;
  margin: 0 auto;
}
.block-fourth-list-title {
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 27px;
}
.block-fourth-list-item {
  background-color: #ffffff;
  width: 32%;
  margin-right: 2%;
  float: left;
  box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 0.16);
  text-align: center;
}
.block-fourth-list-item-header {
  font-family: 'Roboto', Arial;
  font-size: 23px;
  line-height: 1;
  color: #424242;
  font-weight: 400;
  padding-top: 23px;
  margin-bottom: 30px;
}
.block-fourth-list-item-pic {
  height: 113px;
}
.block-fourth-list-item-pic img {
  height: 107px;
}
.block-fourth-list-item-text {
  font-family: 'Roboto', Arial;
  font-size: 16px;
  line-height: 1.9;
  color: #353535;
  font-weight: 400;
  padding: 18px 28px 19px;
  height: 90px;
}
.block-fourth-list-item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 1169px) {
  .block-fourth {
	padding-bottom: 37px;
  }
  .block-fourth-desc {
	margin-bottom: 48px;
  }
  .block-fourth-list {
	margin: 0 25px;
  width: 96%;
  }
  .block-fourth-list-item {
    width: 31%;
  }
  .block-fourth-list-item-header {
	font-size: 20px;
  }
  .block-fourth-list-item-pic img {
    height: 102px;
  }
  .block-fourth-list-item-text {
  padding: 6px 24px 22px;
  font-family: 'Roboto', Arial;
  line-height: 1.5;
  color: #252525;
  }
}
@media screen and (max-width: 769px) {
  .block-fourth {
    padding-bottom: 18px;
  }
  .block-fourth-desc {
	margin-bottom: 32px;
  font-size: 15px;
  }
  .block-fourth-title {
    margin-bottom: 18px;
  }
  .block-fourth-list {
	margin: 0 auto;
  padding: 20px 0;
  }
  .block-fourth-list-title {
    font-size: 17px;
    margin-bottom: 18px;
  }
  .block-fourth-list-item {
	width: 100%;
	margin-right: 0;
	margin-bottom: 9px;
  }
  .block-fourth-list-item-header {
    font-size: 18px;
    margin-left: 123px;
    padding-top: 17px;
    margin-bottom: 6px;
    text-align: left;
  }
  .block-fourth-list-item-pic {
    height: 113px;
    float: left;
    margin-top: -25px;
    width: 77px;
    margin-left: 17px;
  }
  .block-fourth-list-item-pic img {
    height: 87px;
  }
  .block-fourth-list-item-text {
    padding: 6px 24px 22px 123px;
    line-height: 1.6;
    color: #252525;
    font-size: 13px;
    text-align: left;
    height: inherit;
}
}
.block-second {
  overflow: hidden;
  text-align: center;
}
.block-second-desc {
  text-align: center;
  font-family: 'Roboto', Arial;
  font-size: 18px;
  line-height: 1;
  color: #252525;
}
.block-second-list {
  width: 986px;
  margin: 60px auto 84px;
  overflow: hidden;
}
.block-second-list-col {
  float: left;
  width: 30%;
  text-align: center;
  margin-right: 5%;
}
.block-second-list-col:last-child {
  margin-right: 0;
}
.block-second-list-col-img {
  height: 156px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.block-second-list-col-title {
  height: 54px;
  font-size: 19px;
  color: #037e75;
  text-transform: uppercase;
  margin-top: 25px;
}
.block-second-list-col-text {
  color: #565656;
  font-size: 15px;
  margin-top: 18px;
  line-height: 30px;
}
@media screen and (max-width: 1169px) {
  .block-second-desc {
	width: 576px;
	margin: 0 auto;
	font-family: 'Roboto', Arial;
	line-height: 1.7;
	color: inherit;
	font-size: 17px;
  }
  .block-second-list {
	width: 100%;
	margin: 36px auto 63px;
  }
  .block-second-list-col {
    width: 27%;
    margin: 0 3%;
  }
  .block-second-list-col-img img {
    height: 100%;
  }
  .block-second-list-col-title {
    font-size: 18px;
    margin-top: 0px;
  }
  .block-second-list-col-text {
    margin-top: 10px;
  }
}
@media screen and (max-width: 769px) {
  .block-second-desc {
	width: 100%;
  }
  .block-second-list {
    margin: 19px auto 33px;
  }
  .block-second-list-col {
	width: 100%;
	float: none;
  margin: 0;
  }
  .block-second-list-col:last-child .block-second-list-col-img{
    margin-bottom: 0;
  }
  .block-second-list-col-title {
    font-size: 17px;
    height: inherit;
  }
  .block-second-list-col-text {
    margin-top: 11px;
    line-height: 1.8;
    font-size: 13px;
  }
  .block-second-list-col-img {
    margin-bottom: -16px;
  }
}
.block-fifth {
  overflow: hidden;
  background-color: #e5e5e5;
  text-align: center;
}
.block-fifth-title {
  margin: 0 auto 25px;
}
.block-fifth-desc {
  text-align: center;
  font-family: 'Roboto', Arial;
  font-size: 18px;
  line-height: 2;
  color: #3b3b3b;
  font-weight: 400;
}
.block-fifth-form {
  margin: 25px auto 78px;
  text-align: center;
  width: 716px;
}
.block-fifth-form-error {
  display: none;
  font-family: 'Roboto', Arial;
  font-size: 14px;
  line-height: 1;
  color: #e65320;
  font-weight: 300;
  text-align: left;
  padding-left: 24px;
  margin-bottom: 8px;
}
.block-fifth-form-overflow {
  overflow: hidden;
}
.block-fifth-form-input {
  font-family: 'Roboto', Arial;
  font-size: 18px;
  line-height: 1;
  color: #000000;
  font-weight: 400;
  width: 306px;
  padding: 10px 20px;
  background-color: #ffffff;
  border: #8d8d8d 1px solid;
  margin: 10px;
}
.block-fifth-form-input.error {
  border: #e65320 1px solid;
}
.block-fifth-form-input-wrap {
  width: 50%;
  float: left;
}
.block-fifth-form-input-wrap._error .block-fifth-form-input {
  border: #e65320 1px solid;
}
.block-fifth-form-input-wrap._error .block-fifth-form-error {
  display: block;
}
.block-fifth-form-input::-webkit-input-placeholder {
  font-family: 'Roboto', Arial;
  font-size: 14px;
  line-height: 1.7;
  color: #656565;
  font-weight: 300;
}
.block-fifth-form-input::-moz-placeholder {
  font-family: 'Roboto', Arial;
  font-size: 14px;
  line-height: 1.7;
  color: #656565;
  font-weight: 300;
}
.block-fifth-form-input:-ms-input-placeholder {
  font-family: 'Roboto', Arial;
  font-size: 14px;
  line-height: 1.7;
  color: #656565;
  font-weight: 300;
}
.block-fifth-form-input:-moz-placeholder {
  font-family: 'Roboto', Arial;
  font-size: 14px;
  line-height: 1.7;
  color: #656565;
  font-weight: 300;
}
.block-fifth-form-textarea {
  font-family: 'Roboto', Arial;
  font-size: 18px;
  line-height: 1;
  color: #000000;
  font-weight: 400;
  padding: 12px 20px;
  background-color: #ffffff;
  border: #8d8d8d 1px solid;
  width: 664px;
  margin: 10px;
}
.block-fifth-form-textarea::-webkit-input-placeholder {
  font-family: 'Roboto', Arial;
  font-size: 14px;
  line-height: 1.7;
  color: #656565;
  font-weight: 300;
}
.block-fifth-form-textarea::-moz-placeholder {
  font-family: 'Roboto', Arial;
  font-size: 14px;
  line-height: 1.7;
  color: #656565;
  font-weight: 300;
}
.block-fifth-form-textarea:-ms-input-placeholder {
  font-family: 'Roboto', Arial;
  font-size: 14px;
  line-height: 1.7;
  color: #656565;
  font-weight: 300;
}
.block-fifth-form-textarea:-moz-placeholder {
  font-family: 'Roboto', Arial;
  font-size: 14px;
  line-height: 1.7;
  color: #656565;
  font-weight: 300;
}
.block-fifth-form-button {
  color: #000000;
  font-family: 'Roboto', Arial;
  font-weight: 400;
  background-color: #f7a300;
  border-radius: 10px;
  font-size: 22px;
  padding: 14px 99px;
  text-transform: uppercase;
  margin-top: 17px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.block-fifth-form-button:hover {
  background-color: #fab838;
}
@media screen and (max-width: 1169px) {
  .block-fifth-desc {
	font-family: 'Roboto', Arial;
	font-size: 18px;
	line-height: 1.7;
	color: inherit;
  }
  .block-fifth-form {
	width: 592px;
	margin: 32px auto 60px;
  }
  .block-fifth-form-input-wrap {
    width: 100%;
  }
  .block-fifth-form-input {
	width: 81%;
  }
  .block-fifth-form-textarea {
	width: 81%;
	margin: 2px 10px;
  }
  .block-fifth-form-button {
  margin-top: 23px;
  font-size: 24px;
  padding: 14px 96px;
  }
}
@media screen and (max-width: 769px) {
  .block-fifth-desc {
	width: 100%;
  font-size: 15px;
  }
  .block-fifth-title {
    padding-top: 38px;
    margin-bottom: 20px;
  }
  .block-fifth-form {
	margin: 28px auto 40px;
	width: auto;
  }
  .block-fifth-form-input {
	width: 84%;
	margin: 5px 0;
  }
  .block-fifth-form-input-wrap {
	width: 100%;
	float: none;
  }
  .block-fifth-form-error {
	width: 260px;
	margin: 0 auto 8px;
  }
  .block-fifth-form-textarea {
	width: 84%;
	margin: 5px 0 0 0;
  }
  .block-fifth-form-button {
    margin-top: 22px;
    padding: 12px 80px;
    font-size: 21px;
  }
}
.block-sixth-desc {
  color: #353535;
  font-size: 18px;
  margin-bottom: 50px;
  text-align: center;
}
.block-sixth-list {
  overflow: hidden;
}
.block-sixth-col {
  width: 33%;
  float: left;
}
.block-sixth-col-img {
  height: 126px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.block-sixth-col-text {
  text-align: center;
  line-height: 30px;
  padding: 0 43px;
}
.block-sixth-hint {
  font-size: 20px;
  color: #3c6966;
  overflow: hidden;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
@media screen and (max-width: 1169px) {
  .block-sixth-col {
/*    float: none;
    width: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;*/
  }
  .block-sixth-col-img {
/*    width: 34%;
    float: left;
    height: inherit;
    margin-bottom: 0;
    text-align: center;
    margin-top: 10px;*/
  }
  .block-sixth-col-img1 {
    /*width: 64%;*/
  }
  .block-sixth-col-img2 {
    /*width: 44%;*/
  }
  .block-sixth-col-img3 {
/*    width: 70%;*/
  }
  .block-sixth-col-text {
/*    overflow: hidden;
    padding: 0 0 0 0;
    width: 62%;
    text-align: left;
    line-height: 28px;
    margin-bottom: 42px;*/
  }
  .block-sixth-hint {
    /*font-size: 19px;*/
  }
}
@media screen and (max-width: 769px) {
  .block-sixth-desc {
    font-size: 15px;
    margin-top: 24px;
    margin-bottom: 30px;
  }
  .block-sixth-col-text {
    display: none;
  }
  .block-sixth-col-img {
    width: 100%;
    margin-bottom: 28px;
  }
  .block-sixth-col-img1 {
    width: 150px;
  }
  .block-sixth-col-img2 {
    width: 110px;
  }
  .block-sixth-col-img3 {
    width: 160px;
  }
  .block-sixth-hint {
    font-size: 16px;
    margin-top: 15px;
  }
}
.block-footer {
  background-color: #212121;
  overflow: hidden;
  padding: 16px 0;
  color: #ffffff;
}
.block-footer-credits {
  float: left;
  margin-left: 44px;
}
.block-footer-menu {
  float: right;
  margin-right: 28px;
}
.block-footer-menu-item {
  display: inline-block;
  height: 51px;
  line-height: 51px;
  padding: 0 20px;
}
.block-footer-menu-item-link {
  font-family: 'Roboto', Arial;
  font-size: 16px;
  line-height: 1;
  font-weight: 300;
  text-decoration: none;
  color: #ffffff;
  vertical-align: middle;
}
.block-footer-menu-item-link:hover,
.block-footer-menu-item-link:active {
  border-bottom: white 1px solid;
}
  .block-footer-credits-logo {
  height: 44px;
  font-family: 'SegoeUI', sans-serif;
  font-weight: 600;
  font-size: 35px;
  }
@media screen and (max-width: 1169px) {
  .block-footer-menu {
    margin-right: 13px;
  }
  .block-footer-menu-item {
    padding: 0 18px;
  }
  .block-footer-credits {
    margin-left: 28px;
  }
  .block-footer-credits-text {
	font-size: 9px;
	margin-top: 4px;
  }
  .block-footer-menu-item-link {
	font-size: 15px;
  }
}
@media screen and (max-width: 769px) {
  .block-footer {
    padding: 13px 0 19px;
  }
  .block-footer-menu {
	float: right;
	margin: 5px 19px 0;
  }
  .block-footer-menu-item {
	height: auto;
	line-height: 1;
	padding: 8px 0;
	overflow: hidden;
	display: block;
  }
  .block-footer-menu-item-link {
	font-size: 14px;
  }
  .block-footer-credits-logo {
	font-size: 29px;
  }
  .block-footer-credits-logo-img {
	width: 100%;
  }
  .block-footer-credits {
    float: none;
    overflow: hidden;
    margin-left: 6px;
  }
}
@media screen and (min-width: 1170px) {
  .block-wrapper {
	max-width: 1170px;
	padding: 0 12px;
  }
}
@media screen and (max-width: 1169px) {
  .block-wrapper {
	width: 770px;
	padding: 0;
  }
}
@media screen and (max-width: 769px) {
  .block-wrapper {
	width: auto;
	padding: 0 18px;
  }
  .block-wrapper-min {
	padding: 0 30px;
	margin: 0 auto;
  }
}





/*---------------------------*/




  .l3block{
    display: block;
    height: 96px;
    width: 100%;
    background-color: #1e344c;
  }
  .l2wrap{
    width: 1170px;
    height: 96px;
    /* position: relative; */
    margin: 0 auto;
  }
  .lsimg{
    width: 104px;
    height: 116px;
    position: absolute;
    margin-top: -10px;
    margin-left: 50px
  }
  .l3text{
    color: #fff;
    font-family: Roboto,Arial;
    text-align: left;
    margin-left: 210px;
    margin-top: 20px;
    position: absolute;
  }
  .l3title{
    font-size: 21px;
    margin-bottom: 7px;
  }
  .l3desc{
    font-size: 15px;
    font-weight: 300;
  }
  .l3buttonblock{
    float: right;
    margin: 24px 0;
    font-family: 'montserrat-light', Arial;
    font-size: 21px;
    line-height: 1;
    color: inherit;
    font-weight: 300;
    padding: 12px 0;
    text-align: center;
    width: 230px;
    text-transform: uppercase;
    cursor: pointer;
    border: #ffffff 3px solid;
    border-radius: 8px;
  }
  .l3buttonblock a{
    color: #fff;
  }
  .l3line{
    display: none;
  }

  @media screen and (max-width:1169px){
    .l2wrap {
      width: 1115px;
      }
    .lsimg {
      margin-left: 30px;
    }
    .l3text{
      margin-top: 12px;
    }
    .l3buttonblock{
      margin-right: 30px;
    }
    .l3title{
      margin-bottom: 0px;
    }
    .l3desc{
      width: 335px;
    }
  }

  @media screen and (max-width:769px){
    .l3block{
      height: 245px;
    }
    .block-third{
      overflow: unset;
    }
    .l2wrap {
      width: 100%;
      }
    .lsimg {
      width: 104px;
      height: 116px;
      margin: -40px auto 0px;
      position: inherit;
    }
    .l3desc{
      display: none;
    }
    .l3text {
      color: #fff;
      font-family: Roboto,Arial;
      text-align: left;
      margin-top: 20px;
      position: inherit;
      margin: 0 auto;
      width: 251px;
      text-align: center;
    }
    .l3buttonblock {
      float: inherit;
      margin: 10px auto;
    }
    .l3line{
      background-color: #fff;
      width:100%;
      height: 30px;
      display: inherit;
    }
  }


        .l4line{
          background-color: #cdcdcd;
          width: 100%;
          height: 1px;
          margin: 30px auto;
        }
        .l4_video_ads{
          width: 318px;
          height: 167px;
          background-color: #fff;
          float: left;
          margin-left: 10px;
          margin-top: 10px;
        }
        .l4_desc{
          width: 755px;
          margin: 0 auto;
        }
        .l4_showmore{
          margin: 30px auto;
          display: block;
          float: left;
          width: 986px;
        }
        .l4_showmore a{
          color: #035f67;
          font-family: Roboto,Arial;
          font-size: 20px;
          text-decoration: underline;
        }
        .l4_block{
          margin: 40px auto 20px;
        }

        #ads4, #ads5, #ads6, #ads7, #ads8, #ads9, #ads_btn_2, #ads_btn_3, #adsv4, #adsv5, #adsv6, #adsv7, #adsv8, #adsv9, #ads_btn_v_2, #ads_btn_v_3{
          display: none;
        }

        @media screen and (max-width: 1169px) {
          #adsv3, #ads3{
            display: none;
          }

          .l4_showmore{
            width: 666px;
          }

          .l4_block{
            width: 666px;
          }
        }

        @media screen and (max-width:769px){
          .l4_video_ads {
            width: 100%;
          }

          .l4_showmore {
            width: 100%;
          }

          .l4_desc{
            width: 100%;
          }

          .l4_block{
            width: 100%;
          }
        }

        .video_overflow_block{
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: none;
        }
        .video_overflow{
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0.5;
          background-color: #000;
        }
        .video_overflow_container{
          background: #000;
          border: 1px solid #000;
          width: 560px;
          height: 315px;
          position: absolute;
          left: 50%;
          top: 50%;
          margin-left: -280px;
          margin-top: -157px;
          z-index: 100;
        }


        .block-sixth-col{
          width: 25%;
        }
        .block-sixth-col-img{
          height: 200px;
        }
        @media screen and (max-width: 1169px) {
          .block-sixth-col{
            width: 50%;
          }
        }
        @media screen and (max-width: 769px) {
          .block-sixth-col{
            width: 100%;
          }
          .block-sixth-col-img{
            height: auto;
          }
          .block-sixth-col-img1{
            width: auto;
          }
        }