* {
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

body {
  font: 1rem Roboto, Arial, sans-serif;
}

.is-disabled {
  overflow: hidden;
}

button,
input,
textarea {
  background-color: transparent;
  border: none;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.row {
  @include row;
}
