.general-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  .logo {
    font-family: SegoeUI;
    text-transform: uppercase;
    font-size: 2.333rem;
    font-weight: 700;

    .roas {
      color: #fff;
    }

    .up {
      position: relative;
      color: $mainOrange;

      &:before {
        content: '';
        position: absolute;
        left: 1px;
        top: 0;
        border-bottom: 10px solid #fff;
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
      }
    }

    @include laptop {
      margin-left: 20px;
    }
  }

  ul {
    display: flex;
  }

  .general-nav__el {
    &:not(:last-of-type) {
      margin-right: 50px;

      @include desktop {
        margin-right: 30px;
      }
    }
  }

  .general-nav__link {
    position: relative;
    display: inline-block;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 100%;
      height: 1px;
      background-color: #fff;
      transform: translateY(10px);
      opacity: 0;
      visibility: hidden;
      transition: .3s;
    }

    &:hover {
      &:after {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .mobile-toggle {
    display: none;
    position: relative;
    z-index: 99;
    margin-right: 20px;

    span {
      display: block;
      width: 30px;
      height: 3px;
      background-color: #fff;
      transition: .3s;

      &:first-of-type,
      &:last-of-type {
        transform-origin: left center;
      }

      &:nth-of-type(2) {
        transform-origin: center center;
      }

      &:not(:last-of-type) {
        margin-bottom: 6px;
      }
    }

    &--active {
      span {
        background-color: $mainGreen;

        &:first-of-type {
          transform: translate(4px, -1.5px) rotate(45deg);
        }

        &:nth-of-type(2) {
          transform: translateX(-10px);
          opacity: 0;
        }

        &:last-of-type {
          transform: translate(4px, 1.5px) rotate(-45deg);
        }
      }
    }

    @include laptop {
      display: block;
    }
  }
}
