.text {
  line-height: 1.95;
  color: $mainText;

  &--xs {
    font-size: .86rem;
  }

  &--mid {
    font-size: 1.066rem;
  }

  &--lg {
    font-size: 1.2rem;
  }

  &--xl {
    font-size: 1.333rem;
  }
}

.heading {
  font-weight: 400;

  &--l1 {
    font-size: 3.6rem;
  }

  &--l2 {
    font-size: 2.466rem;
    color: $mainGreen;

    @include tablet {
      font-size: 1.866rem;
    }
  }

  &--l3 {
    font-size: 1.288rem;
    text-transform: uppercase;
  }
}

.article-heading {
  font-weight: 400;
  text-transform: uppercase;
  color: $mainGreen;

  &--l1 {
    font-size: 3.6rem;
  }

  &--l2 {
    font-size: 2rem;
  }

  &--l3 {
    font-size: 1.3rem;
  }

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  .line {
    position: absolute;
    left: 50%;
    top: calc(100% + 10px);
    width: 110%;
    margin-left: -55%;
    height: 1px;
    background-color: $mainGreen;

    &:after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      border-top: 5px solid $mainGreen;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      margin-left: -7px;
    }
  }
}

.with-line {
  position: relative;
  display: inline-block;
  margin-bottom: 25px;
}

.button {
  display: inline-block;
  &--main {
    width: 277px;
    height: 56px;
    border-radius: 9px;
    line-height: 56px;
    font-size: 1.466rem;
    text-transform: uppercase;
    text-align: center;
    background-color: $mainOrange;
    color: #000;
    transition: .3s;

    &:hover {
      background-color: lighten($mainOrange, 10%);
    }

    @include phone {
      width: 236px;
      height: 47px;
      line-height: 47px;
      font-size: 1.2rem;
    }
  }

  &--shadow {
    box-shadow: 0 4px 0 0 fade-out(#000, .72);
  }
}

.field {
  padding: 13px 17px;
  border: 1px solid #aeaeae;
  font-size: 1rem;
  background-color: #fff;
  color: #000;
  box-shadow: inset 1px 1px 0 0 #eee;

  &::placeholder {
    color: #000;
    font-family: Roboto, Arial, sans-serif;
  }

  @include phone {
    padding: 12px 14px;
    font-size: .846rem;
  }

  &--big {
    height: 130px;
    resize: none;

    @include phone {
      height: 110px;
    }
  }

  &--error {
    border-color: #e65320;
  }
}

.link {
  text-decoration: underline;
  color: $mainGreen;
}

.article-section {
  width: 100%;

  &:not(:last-of-type) {
    margin-bottom: 50px;
  }
}

.article-header {
  text-align: center;

  &--sm-mb {
    margin-bottom: 15px;
  }

  &--md-mb {
    margin-bottom: 35px;
  }

  &--lg-mb {
    margin-bottom: 50px;
  }
}

.list {
  margin: 15px 0;
  li {
    position: relative;
    line-height: 1.5;
    padding-left: 20px;

    &:before {
      content: '';
      position: absolute;
      left: 7px;
      top: 9px;
      width: 5px;
      height: 5px;
      background-color: $mainGreen;
    }

    &:not(:last-of-type) {
      margin-bottom: 10px;
    }
  }
}
