.section-about {
  padding-bottom: 89px;

  @include tablet {
    padding-bottom: 75px;
  }

  &__el {
    @include col(4);
    align-self: flex-start;
    text-align: center;
    margin-top: -20px;

    @include tablet {
      @include col(12);
      margin-top: 0;

      &:not(:last-of-type) {
        margin-bottom: 45px;
      }
    }

    &-icon {
      height: 150px;
      line-height: 150px;
      margin: 0;
      margin-bottom: 20px;

      @include tablet {
        height: auto;
        line-height: normal;
      }

      img {
        display: inline-block;
        vertical-align: middle;
      }
    }

    .icon-first {
      width: 170px;

      @include laptop {
        width: 163px;
      }
    }

    .icon-second {
      width: 180px;

      @include laptop {
        width: 175px;
      }
    }

    .icon-third {
      width: 130px;
      margin-top: -15px;

      @include laptop {
        width: 115px;
      }
    }

    .heading--l3 {
      color: #037e75;
      margin-bottom: 30px;

      @include tablet {
        margin-bottom: 15px;
        br {
          display: none;
        }
      }
    }

    .text {
      padding-left: 44px;
      padding-right: 44px;

      @include laptop {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
}
