.section-benefits {
  padding-bottom: 80px;
  background-color: $lightGray;

  .row {
    align-items: flex-start;
  }

  &__half {
    @include col(6);

    @include tablet {
      @include col(12);

      &:last-of-type {
        .section-benefits__el {
          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  &__el {
    display: flex;
    padding-left: 90px;

    @include desktop {
      padding-left: 50px;
    }

    @include laptop {
      padding-left: 0;
    }

    @include tablet {
      width: 80%;
      margin: 0 auto;

      &:nth-of-type(n) {
        margin-bottom: 70px;
      }
    }

    @include phone {
      width: 100%;
    }

    &:not(:last-of-type) {
      margin-bottom: 70px;
    }

    .icon-first {
      height: 75px;

      @include laptop {
        height: 65px;
      }
    }

    .icon-second {
      height: 85px;

      @include laptop {
        height: 75px;
      }
    }

    .icon-third {
      height: 75px;

      @include laptop {
        height: 65px;
      }
    }

    .icon-fourth {
      height: 80px;

      @include laptop {
        height: 65px;
      }
    }

    .icon-first,
    .icon-second,
    .icon-third,
    .icon-fourth {
      @include phone {
        width: 70px;
        object-fit: contain;
      }
    }

    .text {
      margin-left: 25px;

      @include laptop {
        br {
          display: none;
        }
      }
    }
  }
}
