.section-contact {
  padding-bottom: 77px;
  background-color: $lightGray;

  form {
    display: flex;
    flex-wrap: wrap;
    max-width: 710px;
    width: 100%;

    .field--normal {
      width: calc(50% - 5px);

      &:first-of-type {
        margin-right: 10px;
      }

      @include tablet {
        width: 100%;
        margin-bottom: 13px;

        &:first-of-type {
          margin-right: 0;
        }
      }
    }

    .field--big {
      width: 100%;
      margin-top: 20px;
      margin-bottom: 33px;

      @include tablet {
        margin-top: 0;
      }
    }

    .button {
      margin: 0 auto;
    }
  }
}
