.general-footer {
  padding: 13px 0 20px;
  background-color: darken($darkGray, .75%);
  color: #fff;

  .general-nav {
    margin-bottom: 15px;

    @include laptop {
      align-items: flex-start;
      margin-bottom: 40px;
    }

    ul {
      margin-top: -5px;

      @include laptop {
        flex-wrap: wrap;
        margin-top: 10px;
        padding-left: 50px;
      }

      @include phone {
        padding-left: 0;
        display: block;
      }
    }

    .general-nav__el {
      @include laptop {
        width: 50%;
        margin-right: 0;
        margin-bottom: 25px;

        &:last-of-type,
        &:nth-last-of-type(2) {
          margin-bottom: 0;
        }
      }

      @include phone {
        width: 100%;

        &:not(:last-of-type) {
          margin-bottom: 20px;
        }
      }
    }
  }

  .copyright {
    color: #fff;
    text-align: center;

    br {
      display: none;

      @include phone {
        display: block;
      }
    }

    a {
      text-decoration: underline;
    }
  }
}
