.section-hero {
  padding: 0;
  background-image: url(../img/bg1.jpg);
  background-size: cover;
  color: #fff;
}

.section-hero__content {
  flex-direction: column;
  justify-content: space-between;
  height: 680px;
  padding-top: 25px;
  padding-bottom: 65px;
  text-align: center;

  .general-nav {
    ul {
      @include laptop {
        flex-direction: column;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 290px;
        background-color: #f0f0f0;
        color: $mainGreen;
        transform: translateY(-50%) scale(.8);
        opacity: 0;
        visibility: hidden;
        transition: .3s;

        .general-nav__el {
          &:not(:last-of-type) {
            margin-right: 0;
            margin-bottom: 20px;
          }
        }

        .general-nav__link {
          font-size: 1.133rem;

          &:before,
          &:after {
            position: absolute;
            top: 0;
            font-weight: 700;
            opacity: 0;
            visibility: hidden;
            transition: .3s;
          }
          &:before {
            content: '[';
            right: calc(100% + 20px);
          }

          &:after {
            content: ']';
            left: calc(100% + 20px);
            bottom: auto;
            width: 4px;
            height: auto;
            background-color: transparent;
            transform: translateY(0);
          }

          &:hover {
            &:before,
            &:after {
              opacity: 1;
              visibility: visible;
            }

            &:before {
              right: calc(100% + 10px);
            }

            &:after {
              left: calc(100% + 10px);
            }
          }
        }
      }
    }

    .is-active {
      transform: translateY(0) scale(1);
      opacity: 1;
      visibility: visible;
    }
  }

  .section-hero__note {
    font-style: italic;
    color: #fff;
  }
}

.section-hero__content-inner {
  margin-top: 50px;
  .heading--l1 {
    margin-bottom: 30px;

    @include laptop {
      font-size: 3.06rem;
    }

    @include tablet {
      font-size: 2.8rem;
    }
  }

  .hero-after-heading {
    margin-bottom: 70px;
    font-size: 1.666rem;
    color: #fff;

    @include laptop {
      font-size: 1.4rem;
    }

    @include tablet {
      font-size: 1.2rem;
    }
  }
}
