.section-more {
  background-color: $mainBlue;
  color: #fff;

  .row {
    height: 95px;
    position: relative;
    justify-content: flex-start;

    @include tablet {
      flex-direction: column;
      height: auto;
      text-align: center;
      padding-bottom: 25px;
    }

    .alogo {
      position: absolute;
      margin-left: 40px;

      @include desktop {
        margin-left: 20px;
      }

      @include laptop {
        height: 102px;
      }

      @include tablet {
        position: static;
        margin-left: 0;
        margin-top: -35px;
        margin-bottom: 10px;
      }
    }

    .section-more__desc {
      padding-left: 190px;
      margin-right: auto;

      @include desktop {
        padding-left: 150px;
      }

      @include laptop {
        position: relative;
        left: 150px;
        width: 50%;
        padding-left: 0;
      }

      @include tablet {
        position: static;
        width: 100%;
        margin-bottom: 10px;
      }

      .text {
        color: #fff;
        font-weight: 300;

        @include laptop {
          line-height: 1.5;
          font-size: .866rem;
        }

        @include tablet {
          display: none;
        }
      }
    }

    .section-more__heading {
      font-size: 1.4rem;
      font-weight: 500;
      margin-bottom: 5px;

      @include laptop {
        font-size: 1.2rem;
      }

      @include tablet {
        font-size: 1.333rem;
        line-height: 1.5;
      }
    }

    .section-more__link {
      width: 210px;
      height: 52px;
      line-height: 46px;
      margin-right: 40px;
      border: 3px solid #fff;
      border-radius: 9px;
      font-size: 1.333rem;
      text-transform: uppercase;
      text-align: center;
      transition: .3s;

      &:hover {
        background-color: #fff;
        color: $mainBlue;
      }

      @include desktop {
        width: 200px;
        margin-right: 0;
      }

      @include laptop {
        width: 170px;
        height: 42px;
        line-height: 36px;
        font-size: 1.1rem;
      }
    }
  }
}
