.section-partners {
  padding-bottom: 40px;

  .section

  &__el {
    @include col(3);
    text-align: center;

    img {
      max-width: 100%;
      object-fit: contain;
    }

    @include tablet {
      @include col(6);
      &:first-of-type,
      &:last-of-type {
        order: -1;
        margin-bottom: 50px;
      }

      &:nth-of-type(2) {
        order: 1;
      }
    }

    @include phone {
      @include col(12);

      &:nth-of-type(n) {
        order: 1;
      }

      &:not(:last-of-type) {
        margin-bottom: 40px;
      }

      &:first-of-type,
      &:last-of-type {
        img {
          height: 45px;
        }
      }

      &:nth-of-type(2),
      &:nth-of-type(3) {
        img {
          height: 100px;
        }
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
