.section {
  padding-top: 50px;

  &__header {
    text-align: center;

    .text {
      @include tablet {
        font-size: 1rem;
      }
    }

    &--noBotMg {
      .heading.heading--l2 {
        margin-bottom: 0;
      }
    }

    &--smBotMg {
      margin-bottom: 32px;
    }

    &--midBotMg {
      margin-bottom: 40px;
    }

    &--bigBotMg {
      margin-bottom: 80px;
    }

    &--smBotMg,
    &--midBotMg,
    &--bigBotMg {
      @include tablet {
        margin-bottom: 40px;
      }
    }

    .heading {
      margin-bottom: 20px;

      @include phone {
        margin-bottom: 25px;
      }
    }
  }

  &__note {
    margin-top: 72px;
    color: $mainGreen;
    text-align: center;
    line-height: 1.8;

    @include tablet {
      font-size: 1.066rem;
      margin-top: 50px;
    }
  }
}
