.section-showcase {
  text-align: center;
  .row {
    &:nth-of-type(2) {
      .line {
        height: 1px;
        width: 100%;
        margin-top: 30px;
        background-color: #cdcdcd;
      }
    }
  }
}

.gallery-outer {
  padding-top: 35px;

  &:nth-of-type(2) {
    @include tablet {
      padding-top: 20px;
    }
  }

  &:last-of-type {
    padding-bottom: 32px;
  }

  .text {
    @include tablet {
      font-size: 1rem;

      br {
        display: none;
      }
    }
  }

  .show {
    font-size: 1.333rem;
    text-transform: uppercase;
    color: $mainGreen;
    border-bottom: 1px solid $mainGreen;

    @include tablet {
      font-size: 1.1rem;
    }
  }

  .is-disabled {
    color: fade-out($mainGreen, .7);
    border-color: fade-out($mainGreen, .7);
  }
}

.gallery {
  @include col(12);
  display: flex;
  flex-wrap: wrap;
  padding: 25px 0;
  justify-content: space-between;

  &__el {
    @include col(4);
    margin-bottom: 25px;

    &--vid {
      @include tablet {
        height: 200px;
      }
    }

    &:last-of-type,
    &:nth-last-of-type(2),
    &:nth-last-of-type(3) {
      margin-bottom: 0;
    }

    iframe {
      width: 100%;
      min-height: 200px;

      @include desktop {
        min-height: 100%;
      }

      @include tablet {
        height: 100%;
      }
    }

    @include tablet {
      @include col(8);
      @include offset-left(2);

      &:not(:last-of-type) {
        margin-bottom: 20px;
      }
    }

    @include phone {
      @include col(12);
      @include offset-left(0);
    }

    img {
      width: 100%;
    }
  }
}
