.section-workprocess {
  background-image: url(../img/bg2.jpg);
  background-size: cover;
  padding-bottom: 43px;

  .section__header {
    .heading,
    .text {
      color: #fff;
    }
  }

  &__outer {
    padding: 20px 0 37px;
    background-color: fade-out($darkGray, .8);

    .section-workprocess__pre {
      color: #fff;
      font-weight: 500;
      margin-bottom: 22px;

      @include tablet {
        font-size: 1.133rem;
        text-align: center;
      }
    }

    @include tablet {
      .row {
        &:nth-of-type(2) {
          flex-direction: column;
        }
      }
    }
  }

  .section-workprocess__el {
    flex-basis: 315px;
    min-height: 315px;
    padding: 25px 23px 0;
    text-align: center;
    background-color: #fff;
    box-shadow: 5px 5px 0 0 fade-out(#000, .83);

    @include desktop {
      flex-basis: 300px;
    }

    @include laptop {
      flex-basis: 220px;
      padding: 25px 10px 0;
    }

    @include tablet {
      position: relative;
      width: 400px;
      flex-basis: auto;
      min-height: auto;
      padding-bottom: 40px;
      padding-left: 130px;
      text-align: left;
    }

    @include phone {
      width: 100%;
    }

    &:not(:last-of-type) {
      margin-right: 30px;

      @include laptop {
        margin-right: 15px;
      }

      @include tablet {
        margin-right: 0;
        margin-bottom: 15px;
      }
    }

    h3 {
      font-size: 1.533rem;
      margin-bottom: 25px;

      @include tablet {
        margin-bottom: 15px;
        font-size: 1.2rem;
      }
    }

    img {
      height: 98px;
      margin-bottom: 20px;

      @include tablet {
        position: absolute;
        height: 80px;
        top: 25px;
        margin: 0;
      }
    }

    .icon-first {
      @include tablet {
        left: 28px;
      }
    }

    .icon-second {
      @include tablet {
        left: 30px;
      }
    }

    .icon-third {
      @include tablet {
        left: 40px;
      }
    }

    .text {
      line-height: 1.7;

      @include laptop {
        font-size: .933rem;
      }
    }
  }
}
