$display: flex;
$large: 1200px;
$medium: 992px;
$small: 768px;
$extra-small: 576px;
$gutter: 15px;
$columns: 12;

$mainOrange: #f7a300;
$mainGreen: #13636a;
$mainBlue: #1e344c;
$mainText: #565656;
$secondaryText: #353535;
$lightGray: #e5e5e5;
$darkGray: #232323;
