@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

@font-face {
  font-family: 'SegoeUI';
  src: url('fonts/SegoeUI.woff2') format('woff2'),
       url('fonts/SegoeUI.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
